body {
    font-family: Arial, sans-serif;
    background-color: #0e002b;
    margin: 0;
    padding: 20px;
    text-align: center;
}
.container {
    background: rgb(13, 19, 32);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(57, 57, 57, 0.1);
    width: 90%;
    max-width: 1200px;
    margin: auto;
    color:white;
    box-shadow: 0 0 10px black;
}
canvas {
    width: 100% !important;
    height: 400px !important;
}
.button-container {
    margin-top: 20px;
}
button , select {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: #041a32;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #01346b;
    box-shadow: 0 0 10px blue;
}
select {
    background-color: rgb(23, 23, 72);
    color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border:none;
}
select:hover{
    box-shadow: 0 0 10px rgb(32, 6, 51),0 0 20px rgb(34, 5, 68),0 0 30px rgb(15, 7, 56);
}
#alerts {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}
.alert-item {
    background: #ffcccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
#availableStock {
    margin-top: 20px;
    text-align: left;
}
.stock-display{
    height: 75%;
    padding:20px;
    display: grid;
    place-items: center;
    box-shadow: 0 0 10px black inset;
    border-radius: 10px;
}
.stock-display:hover{
    background-color: #102e4a;
    box-shadow: 0 0 10px rgb(4, 11, 66) inset, 0 0 20px rgb(4, 11, 66) inset;
}
